body{
    background-color: rgb(228, 181, 210);
}

.a1{
    font-size: 5em;
    font-style: normal;
    border-top: white;
    border-left: white;
    border-right: white;
    border-bottom: crimson 6px solid;
    text-align: center;
    color: green;
}
.a2
{
    font-size: 2em
    ;
    background-color: darkblue;
    color: white;
    width: 400px;
    height: 100px;
    border-top: white;
    border-right: white;
    border-left: white;
    border-bottom: hotpink 7px dashed;

}
.a3{color: white;}
.a4{ font-size: 3em ;
    color: tomato;
    
}
.img1{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 500px;
    height: 500px;
    border-radius: 50%;


}


.n1:hover{
    color: darkred;

}
.img1:hover{ height: 70px;
width: 80px;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #555;
    color: white;
  }
